@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-display: swap; 
  src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2'), 
       url('../fonts/fraunces-v31-latin-900.woff') format('woff');
}
/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
  src: 
       url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
       url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: 
       url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), 
       url('../fonts/barlow-v12-latin-700.woff') format('woff');
}

:root {
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}
* {
  box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
}
img {
  display: block;
  height: auto;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  background: #FEFCF7;
  /* animation: bodyDark 10s linear infinite; */
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}
/* Mobile to Desctop */
/* Start header  */
.site-header{
  padding-top: 32px;
  padding-bottom: 40px;
}
.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo{
  width: 163px;
  height: 18px;
 }
.site-header__btn{
  width: 16px;
  height: 15px;
  background-image: url("../images/burger.svg");
  background-size: 16px 15px;
  border: none;
  background-color: inherit;
}
.head-nav{
  display: none;
}
.head-nav__list{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.head-nav__item:not(:last-child){
  margin-right: 33px;
}
.head-nav__link{
  color: #83888F;
font-family: Barlow;
font-size: 12px;
text-decoration: none;
font-weight: 700;
line-height: 15px; /* 125% */
letter-spacing: 0.923px;
text-transform: uppercase;
}   
/* Finish header  */
/* Start hero  */
.hero{
  padding-bottom: 120px;
}
.hero__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px 99px;
  background-image: url("../images/Object.png");
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 10px;

}
.hero__title{
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Fraunces';
  font-size: 40px;
  font-weight: 900;
  line-height: 40px; /* 100% */
  color: #FEFCF7;
}
.hero__title-wrapper{
  max-width: 279px;
  width: 100%;
}
.hero__desc{
  margin-top: 0;
  margin-bottom: 39px;
  color: #FEFCF7;
text-align: center;
font-family: 'Barlow';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
opacity: 0.8;
}
.hero__desc-wrapper{
  max-width: 279px;
  width: 100%;
}
.hero__link{
  display: inline-block;
  max-width: 271px;
  width: 100%;
  padding: 15px 16px 16px;
  color: #FEFCF7;
text-align: center;
font-family: 'Fraunces';
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 138.889% */
text-decoration: none;
  border-radius: 6px;
background: #0E8784;
transition:background-color 0.3s linear ;
}
.hero__link:hover{
  background-color: #66D2CF;
}
/* Finish hero  */


/* Start collection  */
.collection{
  padding-top: 85px;
  padding-bottom: 120px;
  background-image: url("../images/Group\ 7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
}
.collection__img{
  max-width: 200px;
  width: 100%;
  margin-bottom: 24px;
}
/* .collection__title{
  text-align: center;
  font-family: Fraunces;
  font-size: 40px;
  color: #83888F;
font-style: normal;
font-weight: 900;
text-align: center;
line-height: 72px; /* 180% 
} */
.collecion__list{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.collection__item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.collection__item:not(:last-child){
  margin-bottom: 44px;
}
.collection__content{
  max-width: 282px;
  width: 100%;
}
.collection__subtitle{
  margin-top: 0;
  margin-bottom: 16px;
  color: #333D4B;
font-family:'Fraunces';
font-size: 24px;
font-weight: 900;
line-height: 32px; /* 133.333% */
}
.collection__desc{
  margin-top: 0;
  margin-bottom: 0;
  color: #333D4B;
font-family: 'Barlow';
font-size: 15px;
font-weight: 400;
line-height: 25px; /* 166.667% */
}
/* Finish collection  */

/* Start choose  */
.choose{
  padding-bottom: 717px;
}
.choose__inner{
  position: relative;
  padding:64px 24px 661px;
  text-align: center;
  color: #FEFCF7;
  border-radius: 10px;
background: #2C343E;
}
.choose__title{
  margin-top: 0;
  margin-bottom: 24px;
font-family: "Fraunces";
font-size: 28px;
font-weight: 900;
line-height: 28px; 
}
.choose__desc{
  margin-bottom: 0;
  margin-top: 0;
font-size: 15px;
font-weight: 400;
line-height: 25px; /* 166.667% */
opacity: 0.8;
}
.choose__list{
  position:absolute;
  top: 305px;
  left: 36px;
  right:  36px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.choose__item{
  /* max-width: 280px; */
  margin-bottom: 24px;
  padding: 72px 33.5px 48px;
  border-radius: 8px;
background: #0E8784;
}
.choose__item:last-child{
  margin-bottom: 0;
}
.choose__item::before{
  display: block;
  width: 72px;
  height: 72px;
  content: "";
  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;
  background-image: url("../images/coffee-bean.svg");
  background-repeat: no-repeat;
  background-size: 72px 72px;
}
.choose__item:nth-child(2)::before{
  background-image: url("../images/Combined\ Shape.svg");
}
.choose__item:nth-child(3)::before{
  height: 50px;
  margin-bottom: 67px;
  background-image: url("../images/Combined\ Shape-1.svg");
  background-size: 72px 50px;
}
.choose__subtitle{
  margin-top: 0;
  margin-bottom: 24px;
font-family: "Fraunces";
font-size: 24px;
font-weight: 900;
line-height: 32px; /* 133.333% */
}
.choose__item-desc{
  margin-top: 0;
  margin-bottom: 0;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
/* finish choose  */
/* Start services  */
.services{
  padding-top: 100px;  
  padding-bottom: 120px;
}
.services__title{
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  color: #83888F;
}
.services__list{
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.services__item::before{
  display: block;
width: 90px;
height: 72px;
margin-right: auto;
margin-bottom: 24px;
margin-left: auto;
color: #FDD6BA;
font-family: "Fraunces";
font-size: 72px;
font-weight: 900;
line-height: 72px; /* 100% */
content: "01";
}
.services__item:nth-child(2)::before{
  width: 101px;
  content: "02";
}
.services__item:nth-child(3)::before{
  width: 98px;
  content: "03";
}
.services__subtitle{
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-size: 28px;
  font-weight: 900;
  color: #333D4B;
line-height: 32px; /* 114.286% */
}
.services__item-desc{
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #333D4B;
line-height: 25px; /* 166.667% */
}
.services__link{
  display: block;
  width: 217px;
  margin: 10px auto 0 ;
  padding: 15px 15px 16px;
  text-align: center;
  font-family: "Fraunces";
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  color: #FEFCF7;
  border-radius: 6px;
background: #0E8784;
}
/* finish services  */
/* start footer  */
footer{
  padding-bottom: 72px;
}
.footer__inner{
  padding: 54px;
  background: #2C343E;
}
.footer__logo-link{
  text-decoration: none;
}
.footer-logo{
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}
.navbar__list{
  margin-top: 0;
  margin-bottom: 48px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.navbar__item:not(:last-child){
  margin-bottom: 24px;
}
.navbar__item{
 
}
.navbar__item:hover .navbar__link{
  color: #FEFCF7;

}
.navbar__link{
  color: #83888F;

font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px; /* 125% */
letter-spacing: 0.923px;
text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s linear;
}
.footer__list{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer__item:not(:last-child){
  margin-right: 18px;
}

@media only screen and ( max-width:375px){
  .choose__desc{
    font-size: 13px;
    line-height: 22px;
  }
  .choose__item{
padding: 40px 15px 25px;
  }
  
.choose__item-desc{
  font-size: 13px;
}
}
@media only screen and (min-width: 530px){
  /* start collection  */
  .collection{
    padding-top: 75px;
  }
  .collection__img{
    margin-bottom: 0;
  }
  
  .collection__content{
    max-width: 282px;
    width: 100%;
    margin-top: 20px;
}
/* finish collection  */
/* start services  */
.services{
  padding-top: 0;
}
}

@media only screen and (min-width: 640px) { 
.site-header{
  padding-top: 40px;
  padding-bottom: 53px;
}
 .site-header__logo{
  width: 263px;
  height: 26px;
 }

  .site-header__btn{
    display: none;
  }
  .head-nav{
    display: block;
  }
  /* Start hero  */
  .hero__inner{
    padding-top: 104px;
    padding-left: 58px;
    padding-bottom: 103px;
    background-image: url("../images/objecttophone.png");
    align-items: flex-start;
  }
  .hero__title{
    margin-bottom: 24px;
    text-align:start;
  }
  .hero__desc{
    text-align: start;
    
  }
  .hero__title-wrapper{
    max-width: 329px;
  }
  .hero__desc-wrapper{
    max-width: 398px;
  }
  /* finish hero  */

  /* start collection  */
  .collection{
    padding-top: 70px;
    background-image: url("../images/Group\ 13.svg");
    background-size: 600px 118px;
  }
  .collecion__list{
    text-align: start;
  }
  .collection__img{
    max-width: 255px;
    width: 100%;
    height: 193px;
    margin-right: 36px;
  }
  .collection__content{
    margin-top: 30px;
  }
  /* finish collection  */
    /* Start choose  */
    .choose{
      padding-bottom: 420px;
    }
    .choose__inner{
      padding-bottom: 360px;
    }
    .choose__list{
      top: 280px;
    }
    .choose__item{
      /* max-width: 573px; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .choose__desc-wrapper{
      width: 540px;
      margin: 0 auto;
    }
    .choose__item-content{
      max-width: 344px;
    }
    .choose__item::before{
      
      width: 56px;
      height: 56px;
      margin-right: 55px;
      margin-bottom: 0;
      margin-left: 0;
      background-size: 56px 56px;
    }
    .choose__item:nth-child(3)::before{
      height: 39px;
      background-size: 56px 39px;
      margin-bottom: 0;
    }
    /* finish choose  */
    /* start services  */
.services{
  padding-top: 120px;
}
}



@media only screen and (min-width: 768px){
  /* start collection  */
  .collection{
    padding-bottom: 186px;
    background-size: 698px 118px;
  }
  .collection__item{
    margin-bottom: 32px;
  }
  .collection__subtitle{
    margin-bottom: 24px;
  }
  /* finish collection  */
   /* Start choose  */
   
   .choose__title{
font-size: 32px;
line-height: 48px; /* 150% */
   }
.choose__item{
  padding: 41px 48px 41px 70px;
  text-align: left;
}
.choose__subtitle{
  margin-bottom: 16px;
}
/* finish choose  */
/* Start services  */
.services{
  padding: 50px 40px 160px 39px;
 
}
.services__title{
  margin-bottom: 40px;
  text-align: left;
}
.services__list-wrapper{
  position: relative;
}
.services__list{
  display: flex;
  align-items: center;
  text-align: left;
}
.services__list::before{
 position: absolute;
  top: 0;
  left: 0;
width: 500px;
height: 31px;
display: inline-block;
content: "";
background-image: url("../images/Group\ 19\ \(1\).svg");
background-repeat: no-repeat;
background-size: 466px 31px;
}
.services__item{
  max-width: 223px;
  margin-right: 10px;
}
.services__item::before{
  display: inline-block;
  margin-top: 63px;
margin-left: 0;
margin-right: 0;
margin-bottom: 42px;
}
.services__subtitle{
  margin-bottom: 38px;
}
.services__desc-wrapper{
max-width: 223px;
}
.services__item-desc{
  font-style: 15px;
  line-height: 25px;
}

/* Finish services  */
/* start footer  */

.navbar__list{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  .navbar__item:not(:last-child)
  {
   margin-right: 33px; 
  }

}
@media only screen and (min-width: 1024px) {
  .site-header{
   padding-top: 43px;
   padding-bottom: 43px;
  }

  .container{
    padding: 0 20px;
  }
  /* start hero  */
.hero__inner{
   padding-top: 117px;
   padding-bottom: 116px;
   padding-left: 85px ;
   background-image: url("../images/objecttodesctop.png");
  }
  .hero__title-wrapper{
    max-width: 493px;
  }
  .hero__title{
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 72px;
  }
  .hero__desc-wrapper{
    max-width: 445px;
  }
  .hero__desc{
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 26px;
  }
  /* finish hero  */

  /* start collection  */
  .collection{
    background-size: 900px  120px;
  }
  .collecion__list{
    display: flex;
justify-content: center;
    flex-wrap: wrap;
  }
  .collection__item{
  flex-direction: column;
  align-items: center;
  text-align: center;
    max-width: 400px;
    width: 100%;
  }
  .collection__img{
    margin-right: 0;
  }
  /* collection fnish  */
  /* start choose  */

  .choose__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .choose__item{
    max-width: 320px;
    display: block;
    padding: 72px 48px 48px;
    text-align: center;
    margin-bottom: 20px;
  }
  .choose__item:nth-child(3){
    padding-top: 83px;
    margin-bottom: 0;
  }
  .choose__item::before,
  .choose__item:nth-child(3)::before{
    width: 72px;
    height: 72px;
    margin-right: auto;
    margin-bottom: 56px;
    margin-left: auto;
    background-size: 72px 72px;
  }
  .choose__item:nth-child(3)::before{
    height: 50px;
    background-size: 72px 50px;
    margin-bottom: 67px;
  }
  /* finish choose  */
  /* Start services  */
  .services{
    padding-top: 120px;
  }
  .services__inner{
    padding-left: 150px;
  }
  .services__list::before{
     width: 560px;
  background-size: 560px 31px;
  }
  .services__item{
    margin-right: 30px;
  }
  .services__item:last-child{
    margin-right: 0;
  }
  .services__link{
    margin-left: 0px;
  }

  /* Finish services  */
}
@media only screen and (min-width: 1072px){
  .choose{
    padding-bottom: 130px;
  }
  .choose__item{
    max-width: 317px;
    margin-bottom: 0;
  }
  /* start footer  
  */

  .footer__inner{
    display: flex;
    align-items: center;
    padding: 47px 85px;
  }
  .footer-logo{
    width: 236px;
    height: 26px;
    margin-right: 103px;
    margin-bottom: 0;
  }
  .navbar__list{
    margin-bottom: 0;
  }
  .navbar__item:not(:last-child){
    margin-bottom: 0;
  }
  .footer__list{
    margin-left: auto;
  }
}
@media only screen and (min-width: 1170px){
/* start collection  */
.collection{
  padding-top: 126px;
  background-image: url("../images/Group\ 13\ \(1\).svg");
  background-size: 1111px 196px;
}
.collection__img{
  max-width: 256px;
  width: 100%;
  height: 193px;
  margin-bottom: 71px;
}
.collection__content{
  margin-top: 0;
}
.collection__item{
  max-width: 256px;
  width: 100%;
  margin-right: 30px;
}
.collection__item:nth-child(1) .collection__img{
 max-width:255px ;
 width: 100%;
}
.collection__item:nth-child(4) .collection__img{
  max-width:235px ;
  width: 100%;
  }
  .collection__item:nth-child(4){
    margin-top: -15px;
    margin-right: 0px;

    }
    .collection__desc{
      font-size: 16px;
      line-height: 26px;
    }
    /* Start choose  */
    .choose{
      padding-bottom: 350px;
    }
    .choose__inner{
      padding-top: 100px;
      padding-bottom: 310px;
    }
    .choose__title{
      margin-bottom: 32px;
    }
    .choose__list{
      top: 350px;
    }
    .choose__item{
      max-width: 350px;
    }
    .choose__item-content{
      max-width: 255px;
    }
    .choose__subtitle{
      margin-bottom: 24px;
    }
    .choose__item-desc{
font-size: 16px;
line-height: 26px; 
    }
    /* finish choose  */
    /* start services 0 */
    .services{
      padding-top: 0;
    }
    .services__inner{
      padding-left: 85px;
    }
    .services__title{
      margin-bottom: 80px;
    }
    .services__list::before{
      width: 822px;
      background-image: url("../images/Group\ 29.svg");
      background-size: 786px 31px;
    }
    .services__subtitle-wrapper{
      width: 255px;
    }
    .services__item{
max-width: 285px;
margin-right: 95px;
    }
    .services__subtitle{
      font-size: 32px;
line-height: 36px;
    }
    .services__item-desc{
font-size: 16px;
line-height: 26px;
    }
    .services__item:last-child{
      margin-right: 0;
    }
    .services__desc-wrapper{
      max-width: 285px
    }
};